@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color: #ff9900;
    --black: #151313;
    --bg: #0d0c0c;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

section {
    padding: 2rem 7%;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
    border-radius: 50%;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-top: .5rem;
}

.header .icon div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icon div:hover {
    color: var(--main-color);
    font-size: 3rem;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleX(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleX(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

#menu-btn {
    display: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
    font-size: 3rem;
}

.cart-items-container .img-cart {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh- 8.5rem);
    width: 35em;
    background: #fff;
    padding: 0 1.5rem 1.5rem 1.5rem;
    border-radius: 0 0 10px 10px;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 100%;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

/* home styles*/
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../imgae/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    min-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    text-transform: uppercase;
    color: #eee;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row .image {
    width: 50%;
}

.about .row .image img {
    width: 100%;
    object-fit: cover;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem
}

.about .row .content h3 {
    font-size: 3rem;
    ;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    width: 230px;
    height: 170px;
    object-fit: cover;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .price span {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .box-container .box:hover {
    background: #fff;
}





















/* media queries */

@media(max-width:450px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
}

@media (max-width:450px) {
    #menu-btn {
        display: inline-block;
    }
    .home .content {
        min-width: 30rem;
    }    
    section {
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .about .row .image {
        width: 100%;
    }

    .header .cart-items-container.active {
        right: 0;
        transition: .1s;
    }

    .header .search-form {
        width: 90%;
        height: 3rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;

    }

    .home .content p {
        font-size: 1.8rem;
    }
}